h1, h3 {
    text-align: center;
    /* color: white; */
    color: black;
}

h3 {
  text-align: left;
  /* color: white; */
  color: black;
}

#game-instructions {
    /* color: white; */
    color: black;
    text-align:left;
}

body {
  /* background-color: #151922; */
}


.main-game-container {
    display: flex;
    flex-direction: row;
    width: 1000px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 0px;
    gap: 20px;
  } 
  

main .answer-display {
    width: 40%;
    height: 50%; 
    /* border: 6px solid white; */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    /* color: white; */
  }

#answer-box-header {
  text-align: center;
  /* font-size: larger; */
}

#score-display {
    width: 5%;
    height: 5%; 
    /* border: 4px solid white; */
    border: 2px solid black;
    /* border: 4px solid black; */
    display: flex;
    /* background: black; */
    background: white;
    margin: auto;
    padding: 18px;
    margin-left: -98px;
    margin-top: 4px;
    align-items: center;
    text-align: center;
}

#guess-display {
  width: 50%;
  height: 5%; 
  /* border: 4px solid white; */
  border: 2px solid black;
  /* border: 4px solid black; */
  display: flex;
  /* background: black; */
  background: white;
  margin: auto;
  padding: 6px;
  margin-right: -112px;
  margin-top: -26px;
  justify-content: flex-end;
  font-size: small;
}

main .flag-display {
    width: 50%; /* Each item takes up 50% of the container width */
    height: 50%; /* Each item takes up 50% of the container height */
    /* border: 6px solid white; Optional border for visual clarity */
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.flag-container {
  position:relative;
  top:0;
  left:0;
  width:60%;
  height:60%;
  /* visibility: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-container img {
  display: flex;
  width: 110%;
  height: auto;
  align-items: center;

}

#player-entry {
    display: block;
    border: 2px solid black;
    padding: 14px;
    /* text-decoration: underline; */
    margin: 0 auto;
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    /* margin: auto; */
    /* visibility: hidden; */
    margin-top: -250px;
    margin-left: -150px;
}

.submit-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 8px 18px;
  margin: auto;
  margin-top: 30px;
  visibility: visible;
}

.next-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 8px 18px;
  margin: auto;
  margin-top: 15px;
  visibility: hidden;
}

#message {
  text-align: center;
  margin-top: -35px;
  font-size: 16px;
}

.play-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 8px 26px;

}

.play-again-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 8px 26px;
   /* visibility: hidden; */
}

/* .hidden {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 8px 26px;
 
} */

/* .country-flags {
    max-height: 33vmin;
    margin-bottom: 32px;
  } */